<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhentao.mapper.TbGiftMapper">

    <resultMap id="BaseResultMap" type="com.zhentao.pojo.TbGift">
            <id property="giftId" column="gift_id" />
            <result property="giftName" column="gift_name" />
            <result property="giftImage" column="gift_image" />
            <result property="giftAnimation" column="gift_animation" />
            <result property="giftPrice" column="gift_price" />
            <result property="giftType" column="gift_type" />
            <result property="giftStatus" column="gift_status" />
            <result property="startTime" column="start_time" />
            <result property="endTime" column="end_time" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        gift_id,gift_name,gift_image,gift_animation,gift_price,gift_type,
        gift_status,start_time,end_time,created_at,updated_at
    </sql>
</mapper>
