<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhentao.mapper.TbMomentTopicMapper">

    <resultMap id="BaseResultMap" type="com.zhentao.pojo.TbMomentTopic">
            <id property="id" column="id" />
            <result property="momentId" column="moment_id" />
            <result property="topicId" column="topic_id" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,moment_id,topic_id,created_at
    </sql>
</mapper>
