<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhentao.mapper.TbPrivacySettingMapper">

    <resultMap id="BaseResultMap" type="com.zhentao.pojo.TbPrivacySetting">
            <id property="settingId" column="setting_id" />
            <result property="userId" column="user_id" />
            <result property="showOnlineStatus" column="show_online_status" />
            <result property="showLastLoginTime" column="show_last_login_time" />
            <result property="showVisitor" column="show_visitor" />
            <result property="allowStrangerMessage" column="allow_stranger_message" />
            <result property="profileVisibleLevel" column="profile_visible_level" />
            <result property="photoVisibleLevel" column="photo_visible_level" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        setting_id,user_id,show_online_status,show_last_login_time,show_visitor,allow_stranger_message,
        profile_visible_level,photo_visible_level,created_at,updated_at
    </sql>
</mapper>
