<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhentao.mapper.TbSystemConfigMapper">

    <resultMap id="BaseResultMap" type="com.zhentao.pojo.TbSystemConfig">
            <id property="configId" column="config_id" />
            <result property="configKey" column="config_key" />
            <result property="configValue" column="config_value" />
            <result property="configDesc" column="config_desc" />
            <result property="configType" column="config_type" />
            <result property="isEditable" column="is_editable" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        config_id,config_key,config_value,config_desc,config_type,is_editable,
        created_at,updated_at
    </sql>
</mapper>
