<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhentao.mapper.TbUserPhotoMapper">

    <resultMap id="BaseResultMap" type="com.zhentao.pojo.TbUserPhoto">
            <id property="photoId" column="photo_id" />
            <result property="userId" column="user_id" />
            <result property="photoUrl" column="photo_url" />
            <result property="photoDesc" column="photo_desc" />
            <result property="isAvatar" column="is_avatar" />
            <result property="isPublic" column="is_public" />
            <result property="sortOrder" column="sort_order" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        photo_id,user_id,photo_url,photo_desc,is_avatar,is_public,
        sort_order,created_at,updated_at
    </sql>
</mapper>
